
    
<div class="wrapper-main">
  <div class="header">
      <div class="banner">
          <span>Header</span>
          <div class="x-factor" *ngIf="show">X</div>
      </div>
      <div class="navigation">
          <ul class="main-nav">
              <li class="main-nav-item">Blog</li>
              <li class="main-nav-item">News</li>
              <li class="main-nav-item">About Us</li>
              <li class="main-nav-item">Contact</li>
              <li class="main-nav-item">FAQ</li>
          </ul>
      </div>
  </div>
  <div class="wrapper-center-content">
      <div class="left">Test content LEFT</div>
      <div class="center">
          <div class="text">
              <h1>News Title</h1>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et tortor viverra, fermentum ipsum at, aliquam
              tellus. Duis consectetur eros mauris, nec pulvinar nunc vulputate id. In eu nibh tristique, luctus urna
              a, ultrices lacus. Aliquam ut massa facilisis, bibendum turpis a, porttitor risus. In justo magna, eleifend
              et vestibulum vitae, rhoncus ut eros. Aenean rhoncus rhoncus neque, vulputate sagittis ipsum interdum
              eu. Aenean cursus non purus eget venenatis. Morbi placerat luctus augue at venenatis. Pellentesque habitant
              morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Proin
              ullamcorper est nec pharetra interdum. Aliquam id dignissim eros. Mauris varius, ipsum sollicitudin rutrum
              lobortis, risus justo posuere nunc, eu tincidunt arcu nunc at tortor. Duis eu faucibus lectus. Vivamus
              ac magna elit. Nam condimentum, ipsum a suscipit ornare, augue tortor fringilla velit, non blandit neque
              nulla a ipsum. Fusce vel dictum lectus. Duis varius tortor mi, eu ultricies erat elementum ut. Pellentesque
              dapibus scelerisque orci, sit amet venenatis mi posuere id. Duis sit amet lacus quam. Donec eget nulla
              a nisl ornare efficitur. Curabitur tempor lacinia enim sed auctor. Cras dictum porta orci, vel dapibus
              velit euismod at. Mauris iaculis orci aliquet orci lacinia, eget sollicitudin tortor viverra. Suspendisse
              pretium velit ligula, vitae malesuada purus fringilla eget. Vivamus at lorem eget orci convallis hendrerit.
              Nam porta urna ac rhoncus posuere. Nam congue risus vitae laoreet auctor. Maecenas hendrerit tristique
              porta. Suspendisse potenti. Aenean mattis, ex ac malesuada fringilla, ipsum dui suscipit sapien, sed
              sagittis ante elit ac est. Donec vulputate lorem a purus pharetra dictum. Suspendisse sem eros, lacinia
              eget lacinia at, rutrum at leo. Mauris pharetra pellentesque scelerisque. Phasellus non euismod mi. Aenean
              pharetra purus quis facilisis fermentum. Aliquam id porta metus. Vestibulum vel mi pharetra, lobortis
              massa at, ultrices metus. Aenean ac lobortis nulla. Etiam neque lorem, viverra eu nulla sit amet, bibendum
              volutpat ex. Donec malesuada commodo nisi vel iaculis. Nullam sed facilisis neque, non pretium tortor.
              Nulla luctus lobortis purus eget porta. Quisque scelerisque a dui a venenatis. Nullam hendrerit lacinia
              mi fermentum ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
              Curae; Sed molestie vitae felis at rutrum. Nunc quis tortor et sem mattis elementum vel eu libero. Integer
              sagittis libero neque.
          </div>
          <div class="gallery">
                  <div class="flex-item-gallery"><h3>Flex Gallery</h3></div>
              <div class="flex-item-gallery"><img src="http://simpledesktops.com/download/?desktop=6141" alt=""></div>
              <div class="flex-item-gallery"><img src="http://simpledesktops.com/download/?desktop=6141" alt=""></div>
              <div class="flex-item-gallery"><img src="http://simpledesktops.com/download/?desktop=6141" alt=""></div>
              <div class="flex-item-gallery"><img src="http://simpledesktops.com/download/?desktop=6141" alt=""></div>
              <div class="flex-item-gallery"><img src="http://simpledesktops.com/download/?desktop=6141" alt=""></div>
              <div class="flex-item-gallery"><img src="http://simpledesktops.com/download/?desktop=6141" alt=""></div>
          </div>
      </div>
      <div class="right">Test content RIGHT</div>
  </div>
  <div class="footer">Footer</div>
</div>
